<!DOCTYPE html>
<html>
<head>
  <title>All statuses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>
  


</head>

	<!--<div id="topnavbar">
		<h1 id="heading">Holistic design<h1/>
	</div>

	<div id="box">
	</div>-->

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="continer">
			<a href="#" class="brand">Holistic Design</a>
			<ul class="nav">
				<li><%=link_to "All statuses", statuses_path%></li>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %> 
			 		<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
			 		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			 	<% else %>
			 		<li><%= link_to "Register", new_user_registration_path %></li>
			 		<li><%= link_to "Login", new_user_session_path %></li>
			 	<% end %>

			</div>
		</div>
	</div>
</div>
	
	<!--<div id="pic">
		<a href="#" onclick='overlay()'><img src="http://www.intellimusica.com/wp-content/uploads/2013/04/Inception-Top-Wallpaper-Sohan-Surag.jpg"/></a>
	</div>]

	<div id="overlay">

				<img src="http://www.interinclusion.org/wp-content/uploads/2012/12/16260_inception-3.1.jpg"/>

					<div id="tags">
						<a href = "#" onclick='overlay()'><div id="close">
							</div></a>
				</div>
	</div>-->

	<div class="container">
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	<%=yield%>
</div>

 


</body>
</html>
